@import "tailwindcss";

@theme {
  --color-beige-gray: #8D8C86;      
  --color-dark-gray: #565655;       
  --color-light-gray: #9E9E9C;      
  --color-gold: #F4A900;            
  
  --color-darkest-gray: #3E3E3D;    
  --color-lightest-gray: #EFEEEC;   
  
  --color-primary: var(--color-dark-gray);
  --color-primary-hover: var(--color-darkest-gray);
  --color-secondary: var(--color-beige-gray);
  --color-secondary-hover: #7A7974;
  --color-accent: var(--color-gold);
  --color-accent-hover: #D99600;
  --color-background: var(--color-lightest-gray);
  --color-muted: var(--color-light-gray);
  
  --color-neutral-50: var(--color-lightest-gray);
  --color-neutral-100: #E5E4E2;
  --color-neutral-200: #D1D0CE;
  --color-neutral-300: #BCBBB9;
  --color-neutral-400: var(--color-light-gray);
  --color-neutral-500: var(--color-beige-gray);
  --color-neutral-600: #706F6A;
  --color-neutral-700: var(--color-dark-gray);
  --color-neutral-800: #3E3E3D;
  --color-neutral-900: #2A2A29;
  --color-neutral-950: #1A1A1A;
  
  --color-gold-50: #FEF9E9;
  --color-gold-100: #FDF1C9;
  --color-gold-200: #FBE5A0;
  --color-gold-300: #F9D060;
  --color-gold-400: var(--color-gold);
  --color-gold-500: #D69700;
  --color-gold-600: #B97E00;
  --color-gold-700: #8F6100;
  --color-gold-800: #6A4900;
  --color-gold-900: #523800;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
}